/*Layout .css*/
body
{
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-align: center;   
   background-color: #FDFDFD;
   border-top: 4px solid #FFF;
}
   
#border
{
   position: relative;
   width: 980px;
   height: 2000px;
   margin: 44px auto 40px auto;
   padding: 0 0 0 0;
   background-color: #FFF;
   border: 1px solid #CCC;
}

#container
{
   position: relative;
   width: 920px;
   height: 1800px;
   margin: 34px auto 0 auto;
   padding: 0 0 0 0;
   background-color: #FFF;
}
   
p 
{
   font-family: georgia, times, Times New Roman, times-roman, georgia, serif;
   color: #444;
   margin: 0 0 0 0;
   padding: 0 0 6px 0;
}
   
a:link    { color: #657F08; text-decoration: none; } 
a:visited { color: #95A268; text-decoration: none; }
a:active  { color: #1A69A1; text-decoration: none; } 
a:hover   { color: #000;    text-decoration: none;}

#mast
{
   position: absolute;
   top: 0px;
   left: 0px;
   height: 5px;
   width: 920px;
   background-color: #222;
   padding: 0 3px 0 3px;
   margin: 0 0 0 0;
}

#horza
{
   position: absolute;
   top: 15px;
   left: 0px;
   height: 1px;
   width: 900px;
   background-color: #CCC;
   padding: 0px 0px 0 0px;
   margin: 0 13px 0 13px;
   text-align: left;
}         

#toptitle
{
   position: absolute;
   top: 20px;
   left: 10px;
   height: 130px;
   width: 900px;
   padding: 0px 3px 0 13px;
   margin: 0 0 0 0;
   text-align: left;
}

#horzb
{
   position: absolute;
   top: 150px;
   left: 0px;
   height: 1px;
   width: 900px;
   background-color: #CCC;
   padding: 0px 0px 0 0px;
   margin: 0 13px 0 13px;
   text-align: left;
}         

#horzc
{
   position: absolute;
   top: 230px;
   left: 540px;
   height: 1px;
   width: 373px;
   background-color: #CCC;
   padding: 0px 0px 0 0px;
   margin: 0 0px 0 0px;
   text-align: left;
}         

#verta
{
   position: absolute;
   top: 150px;
   left: 540px;
   height: 1800px;
   width: 1px;
   background-color: #CCC;
   padding: 0 0 0 0;
   margin: 0 0 0 0;
   text-align: left;
}         

#vertb
{
   position: absolute;
   top: 230px;
   left: 725px;
   height: 1720px;
   width: 1px;
   background-color: #CCC;
   padding: 0 0 0 0;
   margin: 0 0 0 0;
   text-align: left;
}         
   
#whome
{
   position: absolute;
   top: 160px;
   left: 540px;
   height: 30px;
   width: 355px;
   font-family: verdana, georgia, times, Times New Roman, times-roman, georgia, serif;
   padding: 0 0 0 0;
   margin: 0 0 0 0;
   text-align: right;
   font-size: 22px;
   letter-spacing: -1px;
   font-weight: bold;
   color: #222;
}
   
#aboutme
{
   position: absolute;
   top: 190px;
   left: 540px;
   height: 20px;
   width: 355px;
   text-align: right;
   padding: 0 0 0 0;
   margin: 0 0 0 0;
}
   
#navbar
{
   position: absolute;
   top: 210px;
   left: 540px;
   height: 21px;
   width: 360px;
   padding: 0px 13px 0 0;
   margin: 0px 0px 0px 0px;
   text-align: right;
   background-color: #CCC;
}            

#main
{
   position: absolute;
   top: 160px;
   left: 7px;
   width: 440px;
   padding: 0 70px 0 0;
   margin: 0 0 0 12;
   text-align: left;
   font-size: 16px;
   line-height: 20px;
}
   
   
#ColumnSectionA
{
   position: absolute;
   top: 230px;
   left: 540px;
   width: 180px;
   padding: 10px 20px 0px 20px;
   margin: 0 0 0 0;
   text-align: left;
}
   
#ColumnSectionB
{
   position: absolute;
   top: 230px;
   left: 720px;
   width: 180px;
   padding: 10px 20px 0px 20px;
   margin: 0 0 0 0;
   text-align: left;
}
   
.lede
{
   font-size: 20px;
   line-height: 24px;
}
   
   
.col
{
   font-size: 13px;
   line-height: 19px;
}
   
   
.contentText{
   font-size: 13px;
   line-height: 16px;
}
   
   
mastTitle
{
   font-family: georgia, times, Times New Roman, times-roman, georgia, serif;
   color: #222;
   font-size: 55px;
   line-height: 60px;
   letter-spacing: -3px;
   font-weight: normal;
   text-transform: uppercase;
   padding: 0 0 0 0;
   margin: 0 0 0 0;
}

h1
{
   font-family: georgia, times, Times New Roman, times-roman, georgia, serif;
   color: #222;
   font-size: 30px;
   line-height: 64px;
   letter-spacing: -1px;
   font-weight: normal;
   text-transform: uppercase;
   padding: 0 0 0 0;
   margin: 0 0 0 12px;
}
   
   
   
h2
{
   font-family: georgia, times, Times New Roman, times-roman, georgia, serif;
   color: #444;
   font-size: 15px;
   line-height: 22px;
   
   font-weight: bold;
   text-transform: uppercase;
   padding: 10px 0 0 0;
   margin: 0 0 0 0px;
}
   
   
   
h3
{
   font-family: verdana, georgia, times, Times New Roman, times-roman, georgia, serif;
   color: #333;
   font-size: 12px;
   line-height: 20px;
   letter-spacing: 0px;
   font-weight: bold;
   text-transform: uppercase;
   padding: 12px 0 2px 0;
   margin: 0 0 0 0;
}
   
   
   
h4
{
   font-family: georgia, times, Times New Roman, times-roman, georgia, serif;
   color: #333;
   font-size: 13px;
   line-height: 20px;
   letter-spacing: 0px;
   font-weight: bold;
   text-transform: uppercase;
   padding: 0 0 0 0;
   margin: 0 0 0 0;
}
   
   
   
h5
{
   font-family: verdana, georgia, times, Times New Roman, times-roman, georgia, serif;
   color: #444;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 0px;
   font-weight: bold;
   text-transform: uppercase;
   padding: 0px 0 8px 0;
   margin: 0 0 0 0;
}
